body {
  margin: 0;
  font-size: 16px;
}

a {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #1976d2;
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.container {
  margin: 0 auto;
  width: 1000px;
}
sidebar {
  padding-left: 20px;
}
article.eventdetail {
  border-bottom-style: groove;
  margin-bottom: 5px;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 5px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}
#userpage {
  display:flex;
}
#eventpagebody {
  display : flex;
}
#image {
  max-width: 40px;
  max-height: 40px;
}
sidebar {
    max-height: 900px;
    overflow-y: scroll;
}
div#top-bar {
  background-color: lime-green;
}
#react-app {
  background-color: rgb(148, 236, 0);
  min-height : 900px;
}
.cardTitle {
  background-color: green;
}
#eventpagebody {
  background-color: limegreen;
}
a {
  color : white;
}
#map {
  max-width: 500px
}
form {
  background-color: white;
}
.container {
  background-color: limegreen;
}
